
@{
    ViewBag.Title = "Index";
}

<h2>My Network</h2>

<p>
    This section will allow to build up a network of people's opinions who you
    trust, allowing you to quickly figure out if a product is worth buying or not.
</p>

