
@{
    ViewBag.Title = "Index";
}

<h2>My Network</h2>

<div class="row">
<div class="col-md-12">
<p>
    GET SUSD helps you build up a network of people whose opinions you
    trust, allowing you to quickly figure out if a product is worth buying or not.
</p>

<img src="~/Content/network.jpg" style="width:100%"/>
<p style="font-size:smaller"><a href="https://www.flickr.com/photos/pagedooley/8562448300/">social network, kevin dooley</a></p>
</div>
</div>

