
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h3>
<strong>GET SUSD helps discover and track ethical alternatives to the products that we buy every day.</strong>
</h3>
<hr/>

<p style="font-size:larger">
    <i>Let's get ethical, ethical</i>
</p>


<div class="row">

<div class="col-md-4">

<p style="font-size:150%">
One of the <a href="https://sustainabledevelopment.un.org/?menu=1300">UN's sustainable development goals</a>, 
<a href="https://sustainabledevelopment.un.org/topics/sustainableconsumptionandproduction">SDG12</a>, 
calls for a switch to sustainable consumption and production patterns as part of a sustainable development future. 
</p>
</div>

<div class="col-md-4">
<p style="font-size:150%">
GET SUSD helps fulfil that goal by empowering people to make ethical decisions, through
a platform for sharing research and opinions on which products are ethical or not.
</p>
</div>

<div class="col-md-4">
<p style="font-size:150%">
Through the collective purchasing power of informed consumers, we can encourage companies
to adopt sustainable practices.
</p>
</div>
</div>

<br/><br/>
<div class="row">

<div class="col-md-12">
<img src="https://sustainabledevelopment.un.org/content/images/image18_3741.jpg" style="width:100%" />
</div>
</div>
