
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>
    Trust your friends to give advice on whether they would buy an ethical product.
</p>

<p>
    <ul>
        <li>
            SDG12: responsible consumption and production patterns
            <ul>
                <li>
                    12.6: Encourage companies to adopt sustainable practices
                </li>
                <li>
                    12.8: Ensure that people everywhere have the relevant information and awareness for sustainable development
                </li>
            </ul>
        </li>
    </ul>
</p>
