@model sdg12.Service.Messages.GetProductsResponse

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<ul>

    @foreach (var product in Model.Products)
    {
        <li>
            @product.ProductName<br />
            @product.ProductNotes
        </li>
    }


</ul>

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form" }))
{
    <div class="form-group">
        <label for="ProductName">Product Name</label>
        @Html.TextBox("ProductName", string.Empty, new { @class = "form-control", placeholder = "Product Name" })
    </div>
    <div class="form-group">
        <label for="ProductNotes">Product Notes</label>
        @Html.TextArea("ProductNotes", string.Empty, new { @class = "form-control", placeholder = "Product Notes" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
