@model sdg12.Service.Messages.GetProductsResponse

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<ul>

    @foreach (var product in Model.Products)
    {
        <li>
            @product.ProductName<br />
            @product.ProductNotes
        </li>
    }

</ul>
